.nav-list-wrap {
    list-style: none;
}

.nav-list-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.nav-list-wrap > li {
    float: left;
    padding: 5px 10px;
}

.nav-list-wrap > li + li {
    margin-left: 10px;
}

.nav-list-wrap > li > a {
    text-decoration: none;
    color: black;
}

.under-list {
    margin-top: 10px;
    list-style: none;
}

.under-list > li > a {
    text-decoration: none;
}

.header-nav-wrap ul {
    background-color: yellow;
}

#green {
    background-color: green;
}